$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "compass/css3/transform";
@import "compass/css3/columns";

html, body {
  margin: 20px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.logo {
  font-family: 'Stardos Stencil', cursive;
  font-size: 56px;
  @include transform-origin(8%);
  @include rotate(-7deg);
}

.country-list {
    @include column-count(3);
}

.main-container {
  width:100%;
  text-align: center;
}

/* Circles around small countries. 
 * Change opacity to 1 to display all circles.
 */
.circlexx {
  opacity:1;
  fill:#e0e0e0;
  stroke:#000000;
  stroke-width:0;
}

.landxx {
  fill: #e0e0e0;
  stroke:#ffffff;
  stroke-width:0;
  fill-rule:evenodd;
}