<div class="logo">worldmap.io</div>
<svg
    height="442"
    width="863"
    viewBox="83 46 2529 1428"
    ng-mousemove="moveLens($event)">
  <g transform ="scale(1)">
    <g ng-repeat="country in countries">
      <g ng-attr-id="{{ country.id }}"
         ng-attr-name="{{ country.name }}"
         ng-attr-transform="{{ country.transform }}">
        <g ng-repeat="path in country.paths">
          <path
            ng-if="path.d"
            ng-attr-id="{{ path.id }}"
            ng-attr-transform="{{ path.transform }}"
            class="landxx"
            style="fill: {{ country.found && (boardState == 'playing') ? 'steelblue' : '#e0e0e0' }}"
            ng-attr-d="{{ path.d }}">
            <title ng-if="country.found">{{ country.name }}</title>
          </path>
          <g ng-if="path.paths"
             ng-attr-id="{{ path.id }}"
             ng-attr-transform="{{ path.transform }}">
            <path
              ng-repeat="part in path.paths"
              ng-attr-id="{{ part.id }}"
              ng-attr-transform="{{ part.transform }}"
              class="landxx"
              style="fill: {{ country.found && (boardState == 'playing') ? 'steelblue' : '#e0e0e0' }}"
              ng-attr-d="{{ part.d }}">
              <title ng-if="country.found">{{ country.name }}</title>
            </path>
          </g>
        </g>
      </g>
      <circle
        ng-if="country.centre"
        ng-attr-id="{{ country.centre.id }}"
        ng-attr-cx="{{ country.centre.cx }}"
        ng-attr-cy="{{ country.centre.cy }}"
        class="circlexx"
        style="fill: {{ country.found && (boardState == 'playing') ? 'steelblue' : '#e0e0e0' }}"
        r="5">
        <title ng-if="country.found">{{ country.name }}</title>
      </circle>
      <g ng-repeat="dependency in country.dependencies">
        <g ng-attr-id="{{ dependency.id }}"
           ng-attr-name="{{ dependency.name }}"
           ng-attr-transform="{{ dependency.transform }}">
          <g ng-repeat="path in dependency.paths">
            <path
              ng-if="path.d"
              ng-attr-id="{{ path.id }}"
              ng-attr-transform="{{ path.transform }}"
              class="landxx"
              style="fill: {{ country.found && (boardState == 'playing') ? 'lightsteelblue' : '#e0e0e0' }}"
              ng-attr-d="{{ path.d }}">
              <title ng-if="country.found">{{ dependency.name }} (dependency of {{ country.name }})</title>
            </path>
            <g ng-if="path.paths"
               ng-attr-id="{{ path.id }}"
               ng-attr-transform="{{ path.transform }}">
              <path
              ng-repeat="part in path.paths"
              ng-attr-id="{{ part.id }}"
              ng-attr-transform="{{ part.transform }}"
              class="landxx"
              style="fill: {{ country.found && (boardState == 'playing') ? 'lightsteelblue' : '#e0e0e0' }}"
              ng-attr-d="{{ part.d }}">
              <title ng-if="country.found">{{ dependency.name }} (dependency of {{ country.name }})</title>
              </path>
            </g>
          </g>
        </g>
        <circle
            ng-if="dependency.centre"
            ng-attr-id="{{ dependency.centre.id }}"
            ng-attr-cx="{{ dependency.centre.cx }}"
            ng-attr-cy="{{ dependency.centre.cy }}"
            ng-attr-transform="{{ dependency.centre.transform }}"
            class="circlexx"
            style="fill: {{ country.found && (boardState == 'playing') ? 'lightsteelblue' : '#e0e0e0' }}"
            r="5">
          <title ng-if="country.found">{{ dependency.name }} (dependency of {{ country.name }})</title>
        </circle>
      </g>
    </g>
  </g>
  <!--<circle ng-attr-cx="{{ lensX }}" ng-attr-cy="{{ lensY }}" r="300px" fill="none" stroke="steelblue" stroke-width="1"></circle>-->
</svg>
<div class="main-container">
  <input ng-show="(boardState == 'paused' || boardState == 'playing')" ng-disabled="boardState == 'paused'" type="text" ng-model="selector" ui-keypress="{enter: 'findCountry()'}">
  <div>Found {{ (countries | filter:{found: true}).length }} / {{ (countries | filter: {dependencyOf: 'false'}).length }} Countries</div>
  <div>
    <timer autostart="false" interval="1000" countdown="900">
      Time left: {{minutes}} minutes, {{seconds}} seconds
    </timer>
  </div>
  <button ng-if="boardState == 'pre'" type="button" class="btn btn-success" ng-click="timer('start')">Start</button>
  <button ng-if="boardState == 'playing'" type="button" class="btn btn-inverse" ng-click="timer('stop')">Pause</button>
  <button ng-if="boardState == 'paused'" type="button" class="btn btn-success" ng-click="timer('resume')">Resume</button>
  <button ng-if="boardState == 'paused' || boardState == 'playing'" type="button" class="btn btn-danger" ng-click="timer('end')">Quit</button>

  <div modal="boardState == 'post'" close="initBoard()" options="opts">
    <div ng-if="(countries | filter: {found: 'false'}).length != 0">
      <div class="modal-header">
        <h3>Game over!</h3>
      </div>
      <div class="modal-body">
        Here's what you missed:
        <div class="country-list">
          <ul ng-if="boardState == 'post'">
            <li ng-repeat="country in (countries | filter: {found: 'false'}| filter: {dependencyOf: 'false'})">
              <a href="http://en.wikipedia.org/wiki/{{ country.name }}" target="_blank">
                {{country.name}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="initBoard()">Close</button>
      </div>
    </div>
    <div ng-if="(countries | filter: {found: 'false'}).length == 0">
      <div class="modal-header">
        <h3>Epic Victory!</h3>
      </div>
      <div class="modal-body">
        You have found all the countries in the world!
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning cancel" ng-click="initBoard()">Close</button>
      </div>
    </div>
  </div>
</div>